.user-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-input-field {
    margin-top: 10px;
    font-size: 28px;
    color: #474747;
    border-radius: 10px;
    border: none;
    text-align: center;
    outline: none;
}

.profile-buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.delete-button {
    margin-top: 20px;
    background-color: #CC5050;
}

.delete-button:hover {
    background-color: #aa3f3f;
}