.user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2480D6;
}

.profile-input-field {
    margin-top: 10px;
    font-size: 28px;
    color: #474747;
    border-radius: 10px;
    border: none;
    text-align: center;
    outline: none;
}

.profile-buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.delete-button {
    background-color: #CC5050;
}

.delete-button:hover {
    background-color: #aa3f3f;
}