#container {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    grid-template-areas: "logo form";
}

.logo {
    width: 100%;
    height: 100vh;
    background-color: #2480D6;
    color: #E1E1E1;
    grid-area: "logo";

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    font-size: 55px;
    font-weight: bold;
}

.logo p {
    font-size: 24px;
}

.input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    color: #474747;
}

.input-field label {
    height: 40px;
    height: fit-content;
    width: fit-content;
    font-size: 20px;
    position: absolute;
    margin-top: 6px;
    margin-left: 10px;
    cursor: text;

    transition: all .3s ease-out;
}

.input-field input::placeholder, 
.input-field textarea::placeholder {
    color: transparent;
}

.input-field input:focus ~ label, 
.input-field textarea:focus ~ label,
.input-field input:not(:placeholder-shown) ~ label, 
.input-field textarea:not(:placeholder-shown) ~ label {
    background-color: #EAE8E8;
    margin-top: -11px;
    font-size: 12px;
    padding: 2px;
    border-radius: 5px;
}

.input-field input, textarea {
    height: 40px;
    width: 100%;
    background-color: #EAE8E8;
    color: #474747;
    border: 1px solid #2480D6;
    border-radius: 25px;
    padding: 15px;
    outline: none;
    font-weight: bold;
    font-size: 18px;
}

.input-field textarea {
    height: 200px;
    resize: none;
}

form {
    width: 100%;
    height: 100vh;
    max-width: 420px;

    grid-area: "form";

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

form h1 {
    color: #474747;
    font-size: 32px;
}