#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar content";
}

aside {
    height: 100vh;
    padding: 25px;
    display: flex;
    color: #E1E1E1;
    flex-direction: column;
    align-items: center;
    background-color: #2480D6;
    grid-area: "sidebar";
}

aside h1 {
    color: #E1E1E1;
    font-size: 38px;
    text-decoration: underline;
    cursor: pointer;
}

.page {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    grid-area: "content";
}

.page section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: center;
}

.float-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    background-color: #2480D6;
    border-radius: 25px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.float-button-child { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 25px;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 80px;
    right: 20px;

    transition: all .2s ease-out;
}

.page .float-button-child + button {
    bottom: 140px;
}

section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.content .quizzes-list-title {
    color: #585858;
    font-size: 28px;
    text-decoration: none;
    transition: all .2s ease-in;
}

.content .quizzes-list-title:hover {
    transform: scale(1.1);
}


@media only screen and (max-width: 950px) {
    #container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        grid-template-areas: "sidebar"
                             "content";
    }

    aside {
        height: 300px;
        grid-area: "sidebar";
    }
}