#lobby {
    width: 95vw;
    height: 95vh;

    display: flex;
    flex-direction: column;
}

section {
    height: 100vh;
}


#lobby .float-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    background-color: #2480D6;
    border-radius: 25px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

#lobby .float-button-child { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 25px;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 80px;
    right: 20px;

    transition: all .2s ease-out;
}

#lobby .float-button-child + button {
    bottom: 140px;
}