.content .quiz-image {
    width: 300px;
    height: 200px;
    border-radius: 25px;
}

.content h1.quiz-title {
    color: #474747;  
    font-size: 36px;
}

.content p.quiz-description {
    font-size: 18px;
    color: #474747;  
}

.quiz-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.edit-quiz {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-edit-quiz {
    background-color: #135da1;
}

.btn-edit-quiz:hover {
    background-color: #114d85;
}

.btn-delete-quiz {
    background-color: #CC5050;
}

.btn-delete-quiz:hover {
    background-color: #a73e3e;
}