.create-room-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-self: center;
    align-self: center;
    height: 100%;
}

.create-room-form img {
    width: 200px;
    height: 200px;
    border-radius: 125px;
}