aside .room-name {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.room-name button {
    width: 250px;
    height: 50px;
    color: #E1E1E1;
    border-radius: 25px;
    background-color: #004F99;
}